---
layout: default
---
		<main>
			<header class="header CSSmidWrap"><h1>Join the Letter Club with <a href="https://instagram.com/B19andMother" class="u-fancyText">@B19andMother</a></h1></header>

			<section class="letter">
				<div class="letter_aside is-left"><span class="letter_aside-placeholder"></span></div>
				
				<form action="https://formspree.io/f/xvolnyko" method="post" class="letter-form CSSmidWrap">
					<header class="letter-form-header">
						<figure><img src="/assets/images/b19-logo-full_bg.png" /></figure>
						
						<span class="CSSspacer"></span>
						
						<span class="u-button">Add New Member</span>
					</header>
					
					<fieldset class="letter-form-fieldset">
						<div><span>Full Name:</span><input type="text" /></div><div>
							<span>Contact Email:</span><input type="email" /></div><div>
							<span>Subscription Type:</span><select><option></option><option>Correspondent Tier</option><option>Society Member</option><option>Patron of Letters</option></select></div><div>
							<span>Payment Consent:</span><input type="checkbox" /><p>I agree to pay R2280 for 12 letters in 12 months. (Correspondent Tier)</p></div>
					</fieldset>
					
					<fieldset class="letter-form-fieldset">
						<h6>Request to Join</h6>
						
						<div><span class="d-fontLetter u-fancyText">Dear Madam Ella,</span></div><div>
							<textarea></textarea></div>
					</fieldset>
					
					<footer class="letter-form-footer">
						<span class="CSSspacer"></span>
						<input type="submit" class="u-button" value="Join the Letter Club" />
					</footer>
				</form>
				
				<div class="letter_aside is-right"></div>
			</section>
			
			<footer class="footer CSSmidWrap">&copy; Copyrights 2026: <a href="https://instagram/B19andMother">@B19andMother</a>. All rights reserved.</footer>
		</main>