---
layout: default
---
		<main class="CSSmidWrap">
			<header>
				<h1>@B19andMother</h1>
			</header>
		
			<section class="welcome">
				<div class="welcome-text">
					<h2><span>Welcome</span> <span>To</span> <span>Matriachy!</span></h2>
					<div>
						<p>Imagine a world where women hold the reins, make the rules, and define progress. That world begins here, with us, together. Every action we take, every voice we lift, builds a future where equality is not an ideal—it is reality. We are the architects of that future.</p>
						<span>Power to Women!</span>
					</div>
				</div>
				
				<div class="welcome-message">
					<div class="welcome-message-box">
						<figure>
							<img src="/assets/images/placeholder-3x4.png" />
							<span></span>
						</figure>
						<div>
							<h4>Her Voice, Her Power, Her Revolution!</h4>
							<span class="CSSspacer"></span>
							<p>Women in power are women who transform economies, communities, and generations. Our power is not a privilege, it is a necessity.</p>
						</div>
					</div>
				</div>
			</section>
			
			<footer>&copy; Copyrights 2026: <a href="https://babylon19.online">Babylon19</a>. All rights reserved.</footer>
		</main>